HTML, BODY{
    background-color: #b5cfd3;
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/1point1.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/1point1.gif"), auto;
}

 @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF0000, 0 0 20px #FF0000
      , 0 0 25px #FF0000, 0 0 30px #FF0000, 0 0 35px #FF0000;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #009900, 0 0 20px #009900, 0 0 25px #009900
      , 0 0 30px #009900, 0 0 35px #009900, 0 0 40px #009900;
    }
  }

  .glow {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
  }

.navbar{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 40px;
}

.btn {
    background-color: #FFF;
    padding: 5px;
}

/* HOLIDAY GIF DIV START */
#holidayGifsH2{
    color: green;
    font-size: 40px;
}

#holidayGifs {
    background-image: url("../images/wrappingPaper.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
/* HOLIDAY GIF DIV END */

/* HOLIDAY JOKE DIV START */
#holidayJokesH2{
    color: #FFF;
    font-size: 40px;
}

#holidayJokes {
    background-image: url("../images/wrappingPaper3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

#jokeDisplay {
    background-color: #FFF;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
}
/* HOLIDAY JOKE DIV END */

/* ELF HALL OF FAME DIV START */
#holidayCharacters {
    background-image: url("../images/wrappingPaper2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.elfCard{
    background-color: #FFF;
    box-shadow: 10px 10px 5px grey;
    display: inline-block;
    height: auto;
    margin: 15px;
    width: 180px;
}

.card-title{
    font-family: 'Mountains of Christmas', cursive;

}

.elfImage{
    height: 250px;
    width: 185px;
}
/* ELF HALL OF FAME DIV END */

.snowflake{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    display: inline-block;
    height: auto;
    width: 35px;
}

#footer {
    background-color: #FFF;
    font-family: 'Mountains of Christmas', cursive;
    padding: 10px;
    margin: 0 auto
}

.footer-block{
    display: inline-block;
}